{% if settings.enable_trust_badge %}
    <div class="trust-badge-container">    
        <div class="trust-badge-wrapper">
                <div class="trust-badge">
                      <div class="icon">
                        <img src="{{ settings.badge_icon1| img_url :'master' }}">
                      </div>
                      <div class="title">
                        <p>{{settings.badge_title1 }}</p>
                      </div>
                 </div>  
                 <div class="trust-badge">
                    <div class="icon">
                      <img src="{{ settings.badge_icon2 | img_url :'master' }}">
                    </div>
                    <div class="title">
                      <p>{{settings.badge_title2 }}</p>
                    </div>
               </div>  
               <div class="trust-badge">
                <div class="icon">
                  <img src="{{ settings.badge_icon3 | img_url :'master' }}">
                </div>
                <div class="title">
                  <p>{{settings.badge_title3 }}</p>
                </div>
           </div>  
           <div class="trust-badge">
            <div class="icon">
              <img src="{{ settings.badge_icon4 | img_url :'master' }}">
            </div>
            <div class="title">
              <p>{{settings.badge_title4 }}</p>
            </div>
       </div>  
        </div>   
    </div>  
    {% endif %}  
    
    <style>
        .trust-badge-container {
            padding:0.5em 1em;
            background-color:#dedbdf61;
            margin-bottom:1em;
        }
        
        .trust-badge-wrapper {
            display: flex;
            gap: 1em;
            justify-content: center;
            align-items: flex-start;
            padding: 0;
        }
        
        .trust-badge-wrapper .trust-badge {
          flex-basis: 25%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
        
        .trust-badge-wrapper .trust-badge .icon {
            width: 60px;
            height: 60px;
        }
        .trust-badge-wrapper .trust-badge .title p {
          font-size: 12px;
          font-weight: 500;
          color:#000;
          line-height:normal;
        }
        .trust-badge-wrapper .trust-badge p {
          margin: 0;
        }

      @media (max-width:768px){
      .trust-badge-wrapper .trust-badge .title p{
          font-size: 10px;
      }
      .trust-badge-wrapper .trust-badge .icon {
        width: 40px;
        height: 40px;
      }
      .trust-badge-wrapper {
          gap: .5em;
      }
        .trust-badge-container {
            padding:0.2em 1em;
        }
      }

    </style>   